.button {
  background-color: #e94560;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  height: 2.5rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-wrap: nowrap;
  overflow: hidden;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}
