.piece {
  width: 100%;
  height: 100%;
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.15s;
}

.dimmed .piece {
  filter: brightness(0.3);
}

.cell--lifted .piece {
  opacity: 0.3;
}

.wp {
  background-image: url('/pieces/wp.svg');
}

.wb {
  background-image: url('/pieces/wb.svg');
}

.wn {
  background-image: url('/pieces/wn.svg');
}

.wr {
  background-image: url('/pieces/wr.svg');
}

.wq {
  background-image: url('/pieces/wq.svg');
}

.wk {
  background-image: url('/pieces/wk.svg');
}

.bp {
  background-image: url('/pieces/bp.svg');
}

.bb {
  background-image: url('/pieces/bb.svg');
}

.bn {
  background-image: url('/pieces/bn.svg');
}

.br {
  background-image: url('/pieces/br.svg');
}

.bq {
  background-image: url('/pieces/bq.svg');
}

.bk {
  background-image: url('/pieces/bk.svg');
}
