.footer {
  background-color: #333;
  padding: 1rem 0;
  text-align: center;
}

.footer__text {
  margin: 0;
  font-size: 0.8rem;
}

.footer__text a {
  color: #007bff;
  text-decoration: none;
}

.footer__text a:hover {
  text-decoration: underline;
}

.footer__text a:visited {
  color: #0056b3;
}
